<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<form th:action="@{/forgot-password}" method="post">
    <h1 class="myTextColor myBorder">Forget Password</h1>

    <!-- Username -->
    <div class="textBoxdiv">
        <input type="text" name="email" placeholder="Email" required />
    </div>

    <!-- Submit Button -->
    <input type="submit" value="Reset Password" class="loginButton" />


    <!-- 🔗 Navigation Link -->
    <div class="signBtn">
        <span>Go back to Login <a th:href="@{/user-login}">Go back to Login</a></span>
    </div>
</form>
</body>
</html>
